<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form" action="/user/login/login" method="post" >
    <h3>l绿色集市登录</h3>
    <input type="text" name="phone" placeholder="请输入你的电话号码"  class="box">
    <input type="password" name="password" placeholder="请输入你的密码"  class="box">
    <div class="info">
        <div class="remember">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me"> 记&nbsp;住&nbsp;我 </label>
        </div>
        <div class="forgot">
            <a class="link" href="/user/rooter/code Login">验证码登录</a>
            <a class="link" href="/user/rooter/reset Passwordl" style="margin-left: 10px;">忘记密码?</a>
        </div>
    </div>
    <input type="submit" value="登录" class="btn" />
    <p>没有一个账号? <a class="link" href="/user/rooter/register">注册</a></p>
</form>
</body>
</html>