<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <form>
       <label for="username">用户名</label>
       <input type="text" name="username" id="username"></input><br>
       <label for="sex">性别</label>
       <select name="sex" id="sex">
           <option value="1"> 男</option>
           <option value="2"> 女</option>
       </select> <br>
       <label for="phone">手机号</label>
       <input type="text" name="phone" id="phone"></input><br>
       <label for="password">密码</label>
       <input type="password" name="password" id="password"></input><br>
       <label for="confirmPassword">确认密码</label>
       <input type="password" name="confirmPassword" id="confirmPassword"></input><br>
   </form>
</body>
</html>