<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>GreenMart | Grocery Store</title>

    <!-- Font-Awesome (CSS) -->
    <link rel="stylesheet" href="/assets/vendors/font-awesome/css/all.min.css" />

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="/assets/css/main.css?v=4" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <link rel="stylesheet" href="/assets/css/Checkout.css?v=10" />

</head>
<body>

    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top"  >
        <!-- 这个 <a> 标签的主要作用是 “返回页面顶部（或指定锚点位置）的导航链接”，具体解析如下：
        1. 核心功能：锚点跳转
        href="#home" 是 HTML 中的 锚点链接语法，表示点击后会跳转到页面中 id="home" 的元素位置。 -->
        <i class="fas fa-arrow-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->



    <!-------------------- Header Area (Start) -------------------->
    <header th:replace="html/header.html::headerFragment"></header>
    <!-------------------- Header Area (End) -------------------->


   
    <!-------------------- Page-Title (Start) -------------------->
    <div class="page-title">
        <h2>结 账</h2>
        <p><a href="/user/rooter/index">主 页</a> <i class="fas fa-long-arrow-alt-right"></i> <span>结 账</span></p>
    </div>
    <!-------------------- Page-Title (Start) -------------------->
    


    <!-------------------- Checkout Area (Start) -------------------->
    <section>

        <div class="checkout">

            <div class="box-1">

                <!-----收货 地址区域  (Start) ----->
                <div class="shipping address checkout-item">

                    <div class="heading heading-flex">
                        <h2>收货 地址</h2>
                        <button class="btn-flex" id="addAddressBtn">
                            <i class="fas fa-plus"></i> 添加地址
                        </button>
                    </div>


                    <!-- 已有地址列表（可切换） -->
                    <div class="address-cards" id="addressList">
                        <!-- 地址卡片将通过JavaScript动态加载 -->
                        <!-- 没有地址卡片 -->
                        <div class="addressLoading" id="addressLoading"></div>

                    </div>
                    <!-- 收货地址表单（新增/编辑） -->
                    <form class="address-form hidden" id="addressFormDate" >
                        <input type="hidden" id="addressId" name="id" value="">


                        <div class="form-group full-width">
                            <label for="recipient" class="label-flex">收货人姓名 *</label>
                            <input type="text" id="recipient" name="recipient" placeholder="请输入你的名称" required class="box">
                        </div>

                        <div class="form-group full-width">
                            <label for="phone" class="label-flex">联系电话 *</label>
                            <input type="tel" id="phone" name="phone" class="box" placeholder="请输入你的联系电话" pattern="^1[3-9]\d{9}$" required>
                        </div>

                        <div class="input-row">
                            <div class="form-group">
                                <label for="province" class="label-flex">省份 *</label>
                                <select id="province" name="province" class="box" required>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="city" class="label-flex">城市 *</label>
                                <select id="city" name="city" class="box" required>
                                </select>
                            </div>
                        </div>

                        <div class="input-row">
                            <div class="form-group">
                                <label for="district" class="label-flex">区/县 *</label>
                                <select id="district" name="district" class="box" required>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="zip" class="label-flex">邮政编码 *</label>
                                <input type="text" id="zip" name="zip" class="box" pattern="^\d{6}$" placeholder="请输入邮政编码(选填)" required>
                            </div>
                        </div>

                        <div class="form-group full-width">
                            <label for="detail" class="label-flex">详细地址 *</label>
                            <input type="text" id="detail" name="detail" class="box" placeholder="请输入详细地址" required>
                        </div>

                        <div class="form-group full-width">
                            <label for="detail" class="label-flex">地址标签 *</label>
                            <input type="text" id="addressTag" name="addressTag" class="box" placeholder="请输入地址标签(选填)" required>
                        </div>

                        <div class="checkbox-group" >
                            <input type="checkbox" id="isDefault" name="isDefault">
                            <label for="isDefault" class="label-flex">设为默认地址</label>
                        </div>

                        <div class="form-footer">
                            <button type="button" class="btn cancel-btn" id="cancelAddressForm">取消</button>
                            <button type="submit" class="btn submit-btn" id="sendAddress">保存地址</button>
                        </div>
                    </form>

                </div>
                <!----- Shipping-Address Area (End) ----->

            </div>

            <div class="box-2">

                <!-- 购物车汇总 -->
                <div class="cart-total checkout-item">
                    <div class="heading">
                        <h2>购物车汇总</h2>
                    </div>

                    <div class="summary-list">
                        <div class="summary-item">
                            <div class="name box">商品小计</div>
                            <div class="value box" id="total-price">¥200.00</div>
                        </div>

                        <div class="summary-item">
                            <div class="name box">配 送 费</div>
                            <div class="value box" id="delivery-price">+¥50.00</div>
                        </div>

                        <div class="summary-item">
                            <div class="name box"> 折 扣</div>
                            <div class="value box" id="discount-price">-¥20.00</div>
                        </div>

                        <div class="summary-item">
                            <div class="name box">优 惠 劵</div>
                            <div class="value box">无 优惠券</div>
                        </div>

                        <div class="summary-item">
                            <div class="name box"> 总 计</div>
                            <div class="value box" id="total-price-all">¥250.00</div>
                        </div>
                    </div>
                </div>

                <!-- 支付方式 -->
                <div class="payment-methods checkout-item">
                    <div class="heading">
                        <h2>支付方式</h2>
                    </div>

                    <div class="content">
                        <div class="payment">
                            <input type="radio" id="alipay" name="payment" value="1" checked>
                            <label for="alipay">支付宝</label>
                            <div class="payment-body">
                                <p>通过支付宝安全快捷地完成支付。</p>
                            </div>
                        </div>

                        <div class="payment">
                            <input type="radio" id="wechatpay" name="payment" value="2">
                            <label for="wechatpay">微信支付</label>
                            <div class="payment-body">
                                <p>使用微信支付完成订单。</p>
                            </div>
                        </div>

                        <div class="payment">
                            <input type="radio" id="bank-transfer" name="payment" value="3">
                            <label for="bank-transfer">银行转账</label>
                            <div class="payment-body">
                                <p>请直接付款到我们的银行账户。请使用您的订单ID作为付款参考。您的订单将在款项到账后发货。</p>
                            </div>
                        </div>

                        <div class="payment">
                            <input type="radio" id="cash-on-delivery" name="payment" value="4">
                            <label for="cash-on-delivery">货到付款</label>
                            <div class="payment-body">
                                <p>收到商品时现场支付现金。</p>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn"  id="checkout-Btn" style="width: 100%;">提交订单</button>

            </div>

        </div>


    </section>
    <!-------------------- Checkout Area (End) -------------------->


     <!-------------------- Footer Area (Start) -------------------->
    <my-foot></my-foot>

    <!-------------------- Footer Area (End) -------------------->



    <!-- Jquery -->
    <script src="/assets/vendors/jquery/jquery.min.js"></script>

    <!-- Custom Script Files -->
    <!--tokenHeader请求头--->
    <script src="/assets/utilsJS/requestHeader.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/nav-link-toggler.js"></script>
    <script src="/assets/js/newsletter.js"></script>
    <script src="/assets/js/payment-method.js"></script>
    <!---checkout逻辑层--->
    <!-- 地址选择功能已整合到checkout.js中 -->
    <script src="/js/checkout.js?v=20250923028"></script>

    <script src="/assets/utilsJS/MyFooter.js"></script>
    

</body>
</html>

