<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoulin.mapper.TagsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhoulin.pojo.entity.Tags">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="display_name" property="displayName" />
        <result column="color_code" property="colorCode" />
        <result column="is_active" property="isActive" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, display_name, color_code, is_active, created_time
    </sql>

</mapper>
